#map{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 100%;
}

#dsc{
    padding-right: 70px;
    padding-top: 10px;
}

.cityprofile{
    padding-bottom: 5px;
}